.HA_VERSION
.ha_run.lock
.storage/
automations.yaml
blueprints/
configuration.yaml
home-assistant*
scenes.yaml
scripts.yaml
secrets.yaml
.cloud/
deps/
tts/
custom_components/*/__pycache__/
custom_components/*/*/__pycache__/
custom_components/*/*.pyc
custom_components/__init__.py
www/
custom_components/hacs/